<h1>Do you want to Authorize <%= application.name %> to have the following access?</h1>

<p>You are authorizing an application to have <%= scope %> access your data. </p>

<form name="input" action="https://<%= ENV['NGINX_HOST'] %>/callback" method="get">
  <input type="hidden" name="state" value="<%= state %>">
  <input type="hidden" name="username" value="<%= username %>">
  <input type="hidden" name="redirect_uri" value="<%= redirect_uri %>">
  <input type="hidden" name="response_type" value="<%= response_type %>">X
<br />
  <div class="btn-group">
    <button type="submit" class="btn">Accept</button>
    <button type="button" class="btn">Decline</button>
  </div>

</form>
